#canvas-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    width: auto;
    height: auto;
}

#pixel-canvas {
    position: absolute;
    z-index: 1;
}

#grid-canvas {
    position: relative;
    z-index: 0;
    border: 1px solid #000;

}

.tools-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
}

.tool {
    text-align: center;
}

#color-picker, #pixel-size {
    width: 100%;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #45a049;
}

#color-palette {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

#color-palette span {
    display: block;
    width: 100%;
    margin-bottom: 5px;
    text-align: center;
}

#color-palette div {
    width: 20px;
    height: 20px;
    border: 1px solid #000;
    margin: 0 5px 5px 0;
    cursor: pointer;
}

#footer-container {
    text-align: center;
    padding: 10px;
    position: relative;
    font-size: x-small;
}